@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-capitalize text-black">Hideout Hotwings!</h1>
        <h2 class="mainSubTitle text-captialize">Better get your belly ready!</h2>
    </div>
        <img class="mainImg" src="~/images/HideOut.jpg"/>
    <br/>
    <a class="btn btn-primary mt-1" asp-area="" asp-page="/Wings">What's your Flavor?'</a>
</div>
