@page
@model MockFood.Pages.CheckOut.CheckOutModel
@{
}

<div>
    <h3>Your Order: </h3>
    @{
        var imagePath = "/images/Wings/" + (@Model.ImageTitle + ".jpg");
    }
    <div class="align-content-center">
        <div class="col-4 mx-auto mb-5">
            <img src=@imagePath class="w-100" asp-append-version="true" />
            <p>Your order for the @Model.WingAssort Wings is ready!</p>
            <p>Total price for your order is: PHP @Model.WingPrice</p>

            <a class="btn alert-primary mt-1 mx-auto" asp-area="" asp-page="/Payment">Check Out!!!</a>
        </div>
    </div>
</div>



